*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
}
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
header nav{
    padding-top: 17px;
    background-color: #fff;
  }
  header .asd2{
    padding-bottom: 17px;
  }
  header nav .logo{
    padding-left: 128px;
  }
  header nav .ulli a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 12px;
    line-height: 13px;
    color: #000;
  }
  header nav .ulli a:hover{
    color: green;
  }
  .nav_menu{
    display:block;
  }
  .nav_group{
    display: none;
  }
  header .head2{
    background: #323232;
  }
  .head2 .asd{
    font-family: 'Montserrat', sans-serif;
   
      text-align: center;
      padding-top: 110px;
      color: #fff;
  }
  .head2 .asd h2{
    font-weight: 500;
    font-size: 55px;
    line-height: 51px;
  }
  .head2 .asd1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    text-align: center;
    padding-bottom: 110px;
    color: #fff;
    padding-top: 20px;
  }
  /* ------------------------------------------------------------------ section --------------------------------------------------------------- */
  section{
      background: green;
  }
  section .img1{
      display: flex;
      justify-content: space-around;
      padding-top: 62px;
      padding-bottom: 100px;
  }
  .section1 img{
      width: 100%;
      height: 100%;
  }
  .section3 .section3_text1{
      padding-top: 100px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      
  }
  .section3 .section3_text2{
    font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      font-size: 17px;
      margin-bottom: 36px;
  }
  .section3 .section3_text3{
      text-align: center;
      padding-bottom: 100px;

  }
  .section3 .section3_text3 button{
    font-family: 'Montserrat', sans-serif;
      padding: 22px 42px;
      font-weight: 500;
      line-height: 12px;
      color: #fff;
      background: #007d2f;
      border: none;
  }
  /* --------------------------------------------------------- footer ----------------------------------------------------- */
  footer{
    padding-top: 98px;
    background: #000;
  }
  footer .text1 h2{
    font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: 900;
   color: #fff;
  }
  footer .text1 p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    color: #fff;
  }
 footer .text2{
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
 }
.text3{
  display: flex;
}
.text3 a{
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  }
  footer .asd{
    padding-bottom: 98px;
  }
   

@media (max-width:575px) {
  header nav {
    padding-top: 10px;
}
header .asd2 {
  padding-bottom: 9px;
}
  header nav .logo {
    padding-left: 6px;
}
header nav .logo img{
  width: 31px;
  height: 32px;
}
.nav_menu{
  display: none;
}
.nav_group{
  display: block;
}
.btn-primary {
  font-size: 10px;
  width: 100%;
  height: 100%;
  color: black;
  background: white;
  border: solid green;
  border-radius: 16px;
  padding-left: 11px;
}
.btn-primary:hover{
  background-color: #007d2f;
  border: solid #007d2f;
  box-shadow: #007d2f;
}
header .asd {
  padding-top: 55px;
  padding-bottom: 17px;
  font-size: 15px;
}
header .asd1 {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 45px;
  color: white;
}

  .head2 .asd h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 11px;
}
.head2 .asd {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 37px;
  color: #fff;
}
.head2 .asd1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-bottom: 26px;
  color: #fff;
  padding-top: 29px;
}
.section1 img {
  width: 100%;
  height: 100%;
}
.marius {
  justify-content: space-between;
 
}
.marius .gaga{
  padding: 0;
}
.con_img{
  display: flex;
  justify-content: space-between;
}
.section3 .section3_text1 {
  padding-top: 31px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.section3 .section3_text1 h2{
font-size: 19px;
}
.section3 .section3_text2 {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 18px;
}
.section3 .section3_text3 {
  padding-bottom: 42px;
}
.section3 .section3_text3 button {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  font-weight: 500;
  line-height: 10px;
  color: #fff;
  background: #007d2f;
  border: none;
  font-size: 10px;
}
footer {
  padding-top: 11px;
  background: #000;
}
footer .text1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  margin-top: 15px;
}footer .text1 p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 9px;
  font-size: 7px;
  color: #fff;
}
.text3 a {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 7px;
  padding-left: 3px;
}
footer ul{
  padding-left: 7px;
}
footer .asd {
  padding-bottom: 0px;
}
footer .text2 {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  font-size: 8px;
}
section .img1 {
  padding-top: 30px;
  padding-bottom: 39px;
}
.img1 img, svg {
  vertical-align: middle;
  width: 71px;
  height: 40px;
  padding-right: 3px;
}

}