*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
nav{
  font-family: 'Montserrat', sans-serif;
  
}
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
header nav{
  padding-top: 17px;
  background-color: #fff;
}
header .asd2{
  padding-bottom: 17px;
}
header nav .logo{
  padding-left: 128px;
}
header nav .ulli a{
  text-decoration: none;
  padding-right: 20px;
  font-size: 12px;
  line-height: 13px;
  color: #000;
}
header nav .ulli a:hover{
  color: green;
}
.nav_group{
  display: none;
}
header .head2{
  background: #007d2f;
}
header .asd{
  font-family: 'Roboto', sans-serif;
  padding-top: 110px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
header .asd1{
font-family: 'Roboto', sans-serif;
font-size: 17px;
text-align: center;
font-weight: 500;
padding-bottom: 97px;
color: white;
}
/* -----------------------------------------section------------------------------------------------------ */
section{
  /* text-align: center; */
}
section img{
  /* width: 306px;
  height: 280px; */
}
.section_img{
  position: relative;
}
.section_img img{
  position: relative;
}
section .section_hover{
  position: absolute;
  width: 342px;
  height: 100%;
  top: 0;
  display: flex;
  transition: 1s;
  justify-content: center;
  align-items: center;
  
  color: #fff;
}
section .section_hover:hover{
  transform: scaleX(360deg);
  background: rgba(69, 124, 89, .5);
  } 


  /* --------------------------------------------------------- footer ----------------------------------------------------- */
  footer{
    padding-top: 98px;
    background: #000;
  }
  footer .text1 h2{
    font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: 900;
   color: #fff;
  }
  footer .text1 p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    color: #fff;
  }
 footer .text2{
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
 }
.text3{
  display: flex;
}
.text3 a{
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  }
  footer .asd{
    padding-bottom: 98px;
  }
/* ------------------------------ start media */




@media (max-width:575px) {
  header nav {
    padding-top: 10px;
}
header .asd2 {
  padding-bottom: 9px;
}
  header nav .logo {
    padding-left: 6px;
}
header nav .logo img{
  width: 31px;
  height: 32px;
}
.nav_menu{
  display: none;
}
.nav_group{
  display: block;
}
.btn-primary {
  font-size: 10px;
  width: 100%;
  height: 100%;
  color: black;
  background: white;
  border: solid green;
  border-radius: 16px;
  padding-left: 11px;
}
.btn-primary:hover{
  background-color: #007d2f;
  border: solid #007d2f;
  box-shadow: #007d2f;
}
header .asd {
  padding-top: 55px;
  padding-bottom: 17px;
  font-size: 15px;
}
header .asd1 {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 45px;
  color: white;
}
/* .section_1{
  padding: 0;
} */
.system_img{
  padding: 0;
}
.section_img{
  display: flex;
  justify-content: center;
  padding: 0;
}
.section_img img{
  width: 100%;
  height: 100%;
}
section .section_hover{
  width: 100%;
  height: 100%;
}

footer {
  padding-top: 11px;
  background: #000;
}
footer .text1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  margin-top: 15px;
}footer .text1 p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 9px;
  font-size: 7px;
  color: #fff;
}
.text3 a {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 7px;
  padding-left: 3px;
}
footer ul{
  padding-left: 7px;
}
footer .asd {
  padding-bottom: 0px;
}
}
