*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
header nav{
    padding-top: 17px;
    background-color: #fff;
  }
  header .asd2{
    padding-bottom: 17px;
  }
  header nav .logo{
    padding-left: 128px;
  }
  header nav .ulli a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 12px;
    line-height: 13px;
    color: #000;
  }
  header nav .ulli a:hover{
    color: green;
  }
  .head2 .col1{
    display: flex;
    justify-content:center;
  }
 .head2 .div_text{
   display: flex;
 }